@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: #191970;
  --background-color: #FCFCFC;
  --secondary-color: #008080;
  --font-small: 20px; 
  --font-medium: 30px; 
  --font-large: 40px;
}

body {
  margin: 0;
  font-family: -apple-system, Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--primary-color);
  background-color: var(--background-color);
  font-size: var(--font-medium);
 
}

html, body, #root{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.centerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline{
  font-weight: 500;
  text-decoration: underline;
}

.border{
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 5px 10px 18px var(--secondary-color);
}

h2{
  font-size: var(--font-medium);
  margin-bottom: 0.2rem;;
}

h3{
  font-size: var(--font-medium);
  font-weight: 500;
  margin: 0.5rem;
}

img{
  width: 80px;
  height: 80px;
}

a, a:visited, a:active{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  margin: 1rem;
}

a:hover{
  /* text-decoration-line: underline; */
  text-shadow: 5px 10px 18px var(--secondary-color);
  font-style: oblique;
}

select{
  font-family: inherit;
  font-size: var(--font-small);
  background-color: var(--background-color);
  color: var(primary-color);
  margin: 1rem;
}